/*Обнуление*/

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
body {
	background: var(--bg);
	font-family: 'Montserrat', sans-serif;
}
/*--------------------*/

:root {
	--blue: #3922C5;
	--main: #0C0C0C;
	--text: #494949;
	--grey: #D9D9D9;
	--bg: #F4F4F4;
	--white: #FFFFFF;
	--btn--blueFocus: #2C1A9A;
	--btn--blueActive: #1F1368;
}
/* .btn{
    width: 267px;
    height: 73px;
    border-radius: 20px 20px 0px 0px;
    background: var(--grey);
}
.btn:active{
    background: var(--white);
}
 */

.tabs__nav {
	display: flex;
}
.tabs__nav-btn {
	padding: 20px 24px;
	font-size: 22px;
	font-weight: 500;
	background-color: var(--grey);
	border-radius: 20px 20px 0px 0px;
	cursor: pointer;
	color: var(--main);
}
.tabs__nav-btn:last-child {
	border-right: none;
}
.tabs__nav-btn:hover {
	background-color: #ddd;
}
.tabs__nav-btn.active {
	background-color: var(--white);
	color: var(--blue);
}
.tabs {
	width: 90%;
	margin: 0 auto;
	padding: 81px 0;
}
.tabs__content {
	max-width: 846px;
	padding: 40px 60px;
	background-color: var(--white);
	border-radius: 0px 20px 20px 20px;
	overflow: hidden;
}
.tabs__item {
	display: none;
}
.tabs__item.active {
	display: block;
}
.tabs_content {
	display: flex;
	column-gap: 71px;
	max-width: 726px;
	position: relative;
	padding-bottom: 40px;
	border-bottom: 1px solid var(--grey);
}
.tabs_item__img {} .tabs_item__img img {
	width: 358px;
	height: 232px;
	margin-left: -126px;
}
.tabs_item__title {
	font-weight: 700;
	font-size: 26px;
	line-height: 39ox;
	color: var(--main);
	margin-bottom: 20px
}
.tabs_item_subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--text);
}
.tabs_item__info p:nth-last-child(2) {
	margin-bottom: 16px;
}
.characteristic {} .characteristic_title,
.characteristic_input_title {
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	color: var(--main);
	margin: 40px 0 20px;
}
.characteristic_list {
	columns: 2;
}
.characteristic li {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 16px;
	color: var(--text);
}
.characteristic input {

	color: var(--main);
	border: 1px solid var(--grey);
	border-radius: 16px;
	padding: 16px 126px 16px 16px;
	margin-right: 24px;
}
.characteristic input::placeholder {
	color: var(--text);
}
.characteristic input:focus {
	border-color: var(--blue);
}
.btn {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--white);
	border-radius: 16px;
	padding: 14px 24px;
}
.blue {
	background: var(--blue);
}
.blue:hover {
	background-color: var(--btn--blueFocus);
}
.blue:active {
	background-color: var(--btn--blueActive);
}
.island {
	margin-top: 40px;
	padding: 30px 0 30px 36px;
	box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
	border-radius: 20px;
}
.white {
	color: var(--main);
	background: var(--white);
}
.white:hover {
	color: var(--btn--blueFocus);
}
.white:focus {
	color: var(--btn--blueActive);
}
.girls li {
	list-style: url(..//img/bike.svg);
}
.accordion {
	display: none;
}
@media (max-width: 768px) {
	.tabs__nav-btn {
		display: none;
	}
	.tabs__nav {
		display: none;
	}
	.tabs__item {
		display: block;
	}
	/* Аккордион */
	.accordion {
		display: block;
	}
	.panel-list {
		list-style-type: disc;
		color: var(--pink);
	}
	.panel-list p {
		color: var(--black);
	}
	.accordion {
		width: 100%;
		background-color: var(--white);
		color: var(--main);
		cursor: pointer;
        padding: 22px 116px 21px 20px;
		text-align: left;
		transition: 0.4s;
        position: relative;
		font-weight: 500;
		font-size: 20px;
		line-height: 100%;
	}
	
	.accordion.active {
		color: var(--blue);
		background-color: var(--white);
	}
	.panel {
		padding: 20px 18px;
		background-color: var(--white);
		display: none;
		overflow: hidden;
	}
	.panel p {
		font-weight: 400;
		font-size: 13px;
		line-height: 140%;
		max-width: 539px;
	}
	.accordion::before,
	.accordion::after {
		position: absolute;
		content: '';
		width: 10px;
		height: 1px;
		background-color: var(--main);
		top: 50%;
		transition: all 0.3ms ease-in;
	}
	.accordion::before {
		transform: rotate(-40deg);
		right: 0;
		transition: all 0.3ms ease-in;
	}
	.accordion::after {
		transform: rotate(40deg);
		right: 7px;
		transition: all 0.3ms ease-in;
	}
	.accordion.active::before,
	.accordion.active::after {
		background-color: var(--main);
	}
	.accordion.active::before {
		transform: rotate(40deg);
	}
	.accordion.active::after {
		transform: rotate(-40deg);
	}
	.tabs_content,
	.characteristic {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.tabs_item__img img {
		width: 100%;
		height: 100%;
		margin-left: 0;
	}
	.tabs_item__img {
		display: flex;
		justify-content: center;
	}
	.characteristic input {} .characteristic_list {
		columns: 1;
		margin-left: 10px;
	}
	.island {
		display: flex;
		justify-content: center;
		padding: 15px;
	}
	.tabs_item__title {

		font-size: 24px;
		line-height: 36px;
	}
	.tabs_item_subtitle {
		font-size: 14px;
		line-height: 21;
	}
	.tabs__content {
		padding: 40px 20px;
	}
	.tabs {
		padding: 40px 0;
	}
    .onechild{
        margin-bottom: 20px;
    }
	.characteristic input{
		padding: 16px;
	}
}
